@import "../UI/StyleVariables.css";

.wrapper {
  width: 100%;
  height: 100%;
  padding-top: var(--height-header);
  /* min-height: calc(140rem - var(--height-header)); */
  flex: 1;
}

/* @media (--tablet) {
  .wrapper {
    min-height: calc(132rem - var(--height-header));
  }
}
@media (--phone) {
  .wrapper {
    min-height: calc(500rem - var(--height-header));
  }
} */
