@import "./components/UI/StyleVariables.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 1200px;
  flex-direction: column;
}

.centered {
  margin: 2rem auto;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btnDark {
  text-decoration: none;
  background: var(--darkblue);
  color: var(--light-grey);
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--darkblue);
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  
}

.btnDark:hover,
.btnDark:active {
  text-decoration: none;
  background-color: var(--light-grey);
  border-color: var(--darkblue);
  color: var(--darkblue);
}




